#negyzet{
    text-align:center;
    width:400px;
    height:400px;
    background-color:gray;
    border: 3px solid black;
    border-radius: 40px;
    margin-top: 100px;
    margin-left: 40%;
}
h2{
    border-radius : 20px;
    background-color: gray;
}
*{
background-color:silver;
}